
body{
    width: 100%;
    height: 100%;
}

body *{
    position:relative;
}

.movingDiv{
    position: absolute;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color:rgb(250,200,150);
    top: 40%;
    left: 100px;
    transition: background-color ease-in-out 600ms,
                border-redius ease-in-out 1000ms,
                top ease-in-out 600ms,
                left ease-in-out 1000ms;
}
.poop{
    width:90px;
    border-radius: 20%;
    height:90px;
    top: 5%;
    left: 10px;
    background-color:rgb(150,0,200);
}
