 body{
    width: 100%;
    height: 100%;
}
body*{
    position:relative;
}

.scrubber{
    position: relative;
    width: 560px;
    height: 20px;
    background-color: black;
}

.progress{
    width: 0;
    height: 20px;
    background-color: red;
}

.video{
    position: relative;
    height: 500px;
    width:500px;
    top: 0%;
    left: 0%;
    transition: width ease-in-out 500ms,
                height ease-in-out 500ms;
}

.poop{

    height: 300px;
    width 300px;

}
